@model Maddalena.Security.MongoIdentityUser

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control"/>
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyName" class="control-label"></label>
                <input asp-for="FamilyName" class="form-control"/>
                <span asp-validation-for="FamilyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control"/>
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NormalizedUserName" class="control-label"></label>
                <input asp-for="NormalizedUserName" class="form-control"/>
                <span asp-validation-for="NormalizedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityStamp" class="control-label"></label>
                <input asp-for="SecurityStamp" class="form-control"/>
                <span asp-validation-for="SecurityStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NormalizedEmail" class="control-label"></label>
                <input asp-for="NormalizedEmail" class="form-control"/>
                <span asp-validation-for="NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EmailConfirmed"/> @Html.DisplayNameFor(model => model.EmailConfirmed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PhoneNumberConfirmed"/> @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="TwoFactorEnabled"/> @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LockoutEndDateUtc" class="control-label"></label>
                <input asp-for="LockoutEndDateUtc" class="form-control"/>
                <span asp-validation-for="LockoutEndDateUtc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LockoutEnabled"/> @Html.DisplayNameFor(model => model.LockoutEnabled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AccessFailedCount" class="control-label"></label>
                <input asp-for="AccessFailedCount" class="form-control"/>
                <span asp-validation-for="AccessFailedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h4>User roles</h4>
        <p>
            @{ var roles = await Model.GetRoles(); }

            @if (roles.Any())
            {
                <ul>
                    @foreach (var role in roles)
                    {
                        <li>@role</li>
                    }
                </ul>
            }
            else
            {
                <span class="text-danger">No active roles for this user</span>
            }
        </p>

        <form method="post" action="/user/addToRole">
            <div class="form-group">
                <label class="control-label" for="Name">Role name</label>
                <input class="form-control" type="text" id="role" name="role" value="">
                <input type="hidden" name="user" value="@Model.UserName">
                <input type="submit"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}