@model IEnumerable<TestSite.Services.Identity.TestSiteUser>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center mb-5">
    <h1 class="display-3">AspNetCore.Identity.Mongo</h1>
    <h2 class="display-4">User testing suite</h2>
</div>


<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home">Users</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            <a href="/user/edit/@item.UserName" class="btn btn-sm btn-outline-primary">Edit</a>
                        </td>
                        <td>
                            <form method="post" action="/user/delete">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.Id" />
                                <input type="submit" class="btn btn-danger" value="Delete" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>