@using SampleSite.Blog
@model SampleSite.Blog.BlogPost
@{
    ViewData["Title"] = "Edit " + (Model.Title ?? "new post");
    var host = Context.Request.Host.ToString();
    List<string> allCats = ViewData["AllCats"] as List<string> ?? new List<string>();
    allCats.Sort();
}

@section Head
{
    <link rel="stylesheet" href="~/css/admin.scss" />
}

    @if(!string.IsNullOrEmpty(Model.Id))
    {
        <section>
            <div class="row">
                <div class="col-12 text-right">
                    <form method="post" action="/blog/delete">
                        @Html.AntiForgeryToken()

                        <input type="hidden" value="@Model.Id" name="id" />
                        <input type="submit" value="Delete..." class="btn btn-danger" title="Delete the post" />
                    </form>
                </div>
            </div>
        </section>

    }

    <section>
        <div class="row">
            <div class="col-12">

                <form method="post" id="edit" class="container" asp-controller="Blog" asp-action="UpdatePost" onsubmit="return upload(this);">
                    <div asp-validation-summary="All"></div>
                    <input type="hidden" asp-for="@Model.Id" />

                    <div class="form-group">
                        <h5>Language</h5>
                        <input type="radio" name="language" value="italian" checked> Italian<br>
                        <input type="radio" name="language" value="english"> English<br>
                    </div>

                    <div class="form-group" style="margin-top:25px">
                        <h5>Title</h5>
                        <input asp-for="@Model.Title" class="form-control" required placeholder="Title of blog post" aria-describedby="desc_title" />
                        <br />
                    </div>

                    <dvi class="form-group" style="margin-top:25px">
                        <h5>Slug</h5>
                        <input asp-for="@Model.Slug" class="form-control" placeholder="The URL name" aria-describedby="desc_slug" />
                        <br />
                    </dvi>

                    <div class="form-group" style="margin-top:25px">
                        <h5>Category</h5>
                        <input type="text" class="form-control" name="category" id="category" aria-describedby="desc_categories" list="taglist" />
                        <datalist id="taglist">
                            @foreach (var cat in allCats)
                            {
                                <option value="@cat" />
                            }
                        </datalist>
                        <br />
                    </div>

                    <div class="form-group">
                        <h5>Excerpt</h5>
                        <textarea asp-for="@Model.Excerpt" class="form-control" rows="3" placeholder="Short description of blog post" aria-describedby="desc_excerpt">@Model.Excerpt</textarea>
                    </div>

                    <div class="form-group">
                        <input asp-for="@Model.IsPublished" />
                        <label asp-for="@Model.IsPublished">Is published</label>
                    </div>

                    <div class="form-group" style="margin-top:25px">
                        <textarea asp-for="@Model.Content" rows="20" aria-label="Content">@Model.Content</textarea>

                        <input type="submit" value="Save" title="Save the post" />
                    </div>
                </form>
            </div>
        </div>
    </section>


@section Scripts {
    <script src="//@host/lib/tinymce/tinymce.min.js"></script> @*with enabled CDN tinymce is not able to find some files*@
    <script async>
      function upload(form) {
        tinymce.activeEditor.uploadImages(function (success) {
          form.submit();
        });
        return false;
      }
        tinymce.init({
          selector: '#Content',
          autoresize_min_height: 200,
          plugins: 'autosave preview searchreplace visualchars image link media fullscreen code codesample table hr pagebreak autoresize nonbreaking anchor insertdatetime advlist lists textcolor wordcount imagetools colorpicker',
          menubar: "edit view format insert table",
          toolbar1: 'formatselect | bold italic blockquote forecolor backcolor | imageupload link | alignleft aligncenter alignright  | numlist bullist outdent indent code | fullscreen',
          selection_toolbar: 'bold italic | quicklink h2 h3 blockquote',
          autoresize_bottom_margin: 0,
          paste_data_images: true,
          image_advtab: true,
          file_picker_types: 'image',
          relative_urls: false,
          convert_urls: false,
          branding: false,
          images_upload_url: "/blog/upload",
          images_upload_base_path: '/download/'
        });

    </script>
}